
/SharePointPrimitives.SettingsProvider.Stsadm/bin
/SharePointPrimitives.SettingsProvider.Stsadm/obj
/SharePointPrimitives.SettingsProvider.Stadm.Test/obj
/SharePointPrimitives.SettingsProvider.Stadm.Test/bin
/SharePointPrimitives.SettingsProvider.Stsadm/-null
/SharePointPrimitives.SettingsProvider.Stsadm.Test/bin
/SharePointPrimitives.SettingsProvider.Stsadm.Test/obj